﻿@using SMCi.WebUI.Infrastructure.Extensions
@using MvcSiteMapProvider
@model SiteMapPathHelperModel

@if (Model.Nodes.Any())
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>@(SiteMaps.Current.CurrentNode?.Title)</h2>
            <ol class="breadcrumb">
                @foreach (var node in Model.Nodes)
                {
                    if (node != Model.Nodes.Last())
                    {
                        <li>
                            <a href="@node.NodeUrl()">@node.Title</a>
                        </li>
                    }
                    else
                    {
                        <li class="active"><strong>@node.Title</strong></li>
                    }
                }
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
}
