﻿@using Core.Web.Extensions
@model SMCi.WebCore.Modules.Posts.Models.PostModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Thông tin bài đăng</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.FormPost())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ErrorSummary()

                        @Html.EditorForModel("Form")

                        <button type="submit" class="ladda-button btn btn-primary">
                            <i class="fa fa-save"></i> Tạo
                        </button>

                        <a class="btn btn-default" href="@Url.Action("Index", "ManagePost", new { area = "Admin" })">
                            <i class="fa fa-arrow-left"></i> Trở lại
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        Validator.default();
    </script>
}