﻿@using SMCi.WebCore.Modules.Categories.Services
@using Core.Web.MetadataModel.Common
@{
    var categories = GetService<ICategoryService>().GetList().Result;
}
@(Html.Kendo().DropDownListFor(m => m)
    .OptionLabel("Select category...")
    .DataValueField("Id")
    .DataTextField("Text")
    .Template("<span style='padding-left: #=Padding#px'>#= Text#<span>")
    .BindTo(categories)
    .HtmlAttributes(Html.ModelHtmlAttributes().AddStyle("min-width:250px"))
    .Deferred()
)