﻿@model string

<script type="text/x-kendo-tmpl" id="template">
    <div class="file-box">
        <div class="file">
            <a ondblclick="@(Model).chooseFile('#:Path#')">
                <span class="corner"></span>

                <div class="image">
                    <img alt="image" class="img-responsive" src="#:AbsolutePath#">
                </div>
                <div class="file-name">
                    <span>#:Name#</span>
                    <br />
                    <small>Added: #:LastModifiedString#</small>
                </div>
            </a>
        </div>
    </div>
</script>