
/*----------------------------
--------- 2. Section ---------
----------------------------*/

section {
	background-color: $default-white;
}

.section-1 {
	padding: 120px 0px;
}

.section-2 {
	padding: 100px 0px;
}

.section-3 {
	padding: 80px 0px;
}

.section-4 {
	padding: 60px 0px;
}

@include screen-mobile {
	.section-1,
	.section-2, 
	.section-3,
	.section-4 {
		padding: 50px 0px;
	}

} 

.section-5 {
	padding: 40px 0px;
}

.section-6 {
	padding: 20px 0px;
}

.section-no-btm-lg {
	padding-top: 120px;
}

.section-no-btm-md {
	padding-top: 80px;
}

.section-no-btm-sm {
	padding-top: 40px;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.fixed-bg {
	background-attachment: fixed;
}

.parallax-bg {
	position: relative;
	overflow: hidden;
	
	.parallax-img {
		position: absolute;
		@include positioning($top: -70%, $left: 0px);
		width: 100%;
		height: auto;
		z-index: 1;
		
		@include screen-mobile {
			width: auto;
			height: 150%;
			@include positioning($top: auto, $bottom: auto, $left: 0px);
		}
	}
	
	>div {
		position: relative;
		z-index: 3;
	}
}

.kenburn-bg {
	position: relative;
	overflow: hidden;
	
	.kenburn-img {
		position: absolute;
		@include positioning($top: -50%, $left: 0px);
		@include animation('kenburn 60s infinite');
		width: 100%;
		height: auto;
		z-index: 1;
		
		@include screen-tablet {
			@include positioning($top: 0px, $left: -50%);
			width: auto;
			height: 100%;
		}
	}
	
	>div {
		position: relative;
		z-index: 3;
	}
}

.youtube-bg {
	position: relative;
	overflow: hidden;
	
	>div {
		position: relative;
		z-index: 3;
	}
}

@include keyframes(kenburn) {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.theme-overlay {
	position: relative;
	overflow: hidden;	
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $default-white;
	}
	
	&:before {
		content:"";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		opacity: 0.85;
	}
	
	>div {
		position: relative;
		z-index: 3;
	}
}

.dark-overlay {
	position: relative;
	overflow: hidden;	
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $default-white;
	}
	
	&:before {
		content:"";
		background-color: $default-dark;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		top: 0px;
		z-index: 2
	}
	
	>div {
		position: relative;
		z-index: 3;
	}
}