﻿@using SMCi.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.PageTitle()</title>

    @ViewHelper.RenderHomeFonts()
    @ViewHelper.RenderStyles("home")
</head>
<body style="background-color: white">
    <div class="smc-header">
        @Html.Partial("Partials/_SiteHeader")
    </div>
    <div class="container content">
        @RenderBody()
    </div>

    @Html.Partial("Partials/_Footer")

    @ViewHelper.RenderScripts("home")
    @Html.Kendo().DeferredScripts()
    @Html.Partial("_Alerts")
    @RenderSection("scripts", required: false)
</body>
</html>
