﻿@using SMCi.WebUI.Infrastructure.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.PageTitle()</title>
    @ViewHelper.RenderAdminFonts()
    @ViewHelper.RenderStyles()
</head>
<body class="gray-bg">

    @RenderBody()

    @ViewHelper.RenderScripts("blank")
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", required: false)
</body>
</html>
