﻿.sti-menu{
    position:relative;
    margin:0 auto;
}
.sti-menu .sti-menu-item{
    width:300px;
    height:300px;
    margin:0 auto;
}

.sti-menu .sti-menu-item a{
    display:block;
    overflow:hidden;
    background:#fff;
    text-align:center;
    height:100%;
    width:100%;
    position:relative;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.sti-menu .sti-menu-item a:hover {
    background-color: #000;
}

.sti-menu .sti-menu-item a h2{
    color:#000;
    font-family: 'Wire One', arial, serif; 
    font-size:42px;
    font-weight:bold;
    text-transform:uppercase;
    position:absolute;
    width:300px;
    top:140px;
    left:0px;
    text-shadow: 0px 1px 1px black;
}
.sti-menu .sti-menu-item a h3{
    font-size:16px;
    position:absolute;
    top:210px;
    left:0;
    width:300px;
    font-weight: 500;
}

.sti-menu-item {
    padding: 0;
}

.sti-icon{
    width:100px;
    height:100px;
    position:absolute;
    background-position:top left;
    background-repeat:no-repeat;
    background-color:transparent;
    left:100px;
    top:30px;
}
