﻿@using SMCi.WebCore.Modules.FileManager.Models
@using Core.Web.Extensions
@using SMCi.WebUI.Infrastructure.Extensions
@model UploadedFileModel

@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}

<div class="file-manager">
    <div class="row">
        <div class="col-sm-10">
            @using (Html.FormPostInline())
            {
                @Html.AntiForgeryToken()
                @Html.ErrorSummary()
                @Html.HiddenFor(x => x.TargetId)

                <div class="form-group">
                    @Html.EditorFor(x => x.FileUpload)
                </div>

                <button type="submit" class="btn btn-default">
                    <i class="fa fa-cloud-upload"></i> Upload
                </button>

            }
        </div>
        <div class="col-sm-2 text-right">
            <button id="btDelete" class="btn btn-danger" style="display: none">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
    <div class="row">
        @(Html.Kendo().ListView<FileModel>()
              .Name("listView")
              .TagName("div")
              .ClientTemplateId("template")
              .DataSource(dataSource =>
              {
                  dataSource.Read(read => read.Action("ListView_Read", "FileManager"))
                      .Sort(x => x.Add(a => a.CreationTime).Descending())
                      .PageSize(18);
              })
              .HtmlAttributes(new { @class = "col-lg-12", style = "height:510px" })
              .Events(events => events.Change("fileCtrl.onChange").DataBound("fileCtrl.onDataBound"))
              .Selectable()
              .Pageable(x => x.Refresh(true))
              .Deferred())
    </div>
</div>

@section scripts
{
    <script type="text/x-kendo-tmpl" id="template">
        <div class="file-box">
            <div class="file">
                <a ondblclick="fileCtrl.chooseFile('#:Path#')">
                    <span class="corner"></span>

                    <div class="image">
                        <img alt="image" class="img-responsive" src="#:Path#">
                    </div>
                    <div class="file-name">
                        #:Name#
                        <br />
                        <small>Added: #:AddedDateString#</small>
                    </div>
                </a>
            </div>
        </div>
    </script>

    @ViewHelper.RenderPageScript("admin/file-manager")

    <script>
        $(function () {
            fileCtrl.init("@(Model?.TargetId)");
        });
    </script>
}
