﻿<div class="container">
    <a class="logo" href="/">
        <img src="/Content/img/logo.jpg" alt="Thông tin doanh nghiệp" style="height: 60px">
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
    </button>
</div>
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Company", "Home")">Thông tin doanh nghiệp</a></li>
            <li><a href="@Url.Action("Document", "Home")">Văn bản pháp quy</a></li>
            <li><a href="@Url.Action("Feedback", "Home")">Thông tin tiếp nhận</a></li>

        </ul>
    </div>
</div>
