﻿@using Core.Web.Extensions
@using Core.Web.MetadataModel.Common
@model dynamic

@foreach (var prop in ViewData.ModelMetadata.Properties.Where(p => p.ShowForEdit))
{
    if (prop.IsHidden())
    {
        @Html.Editor(prop.PropertyName)
    }
    else
    {
        <div class="form-group">
            @if (!prop.IsBoolean())
            {
                <label class="col-lg-2 control-label">@prop.DisplayLabel()</label>
            }
            <div class="col-lg-10 @(prop.IsBoolean() ? "col-lg-offset-2" : "")">
                @Html.Editor(prop.PropertyName)
                @Html.HelpText(prop)
            </div>
        </div>
    }
}
