﻿<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h3 class="font-bold">Page Not Found</h3>

    <div class="error-desc">
        Sorry, but the page you are looking for has not been found. Try checking the URL for error, then hit the refresh button on your browser.
    </div>

    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
        <i class="fa fa-home"></i> HomePage
    </a>
    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-primary" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
            <i class="fa fa-th-large"></i> DashBoard
        </a>
    }
</div>