﻿@using Core.Web.Router
@using SMCi.WebCore.Extensions
@model List<SMCi.WebCore.Modules.Home.Models.CompanyModel>

@foreach (var item in Model)
{
    var logo = string.IsNullOrEmpty(item.CompanyLogo) ? "/Content/img/portfolios/600x600/6.jpg" : item.CompanyLogo;
    <div class="row">
    <div class="col-md-3">
        <img src="@logo" class="img-responsive" />
    </div>
    <div class="col-md-9">
        <h2 class="no-mrg-top">
            <a href="@Url.Action("CompanyDetail","Home", new { id = item.CompanyID.ToFriendly(item.CompanyName1) })" title="@item.CompanyName1">@item.CompanyName1</a>
        </h2>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Mã số thuế: <strong><a href="@Url.Action("CompanyDetail","Home", new { id = item.CompanyID.ToFriendly(item.CompanyName1) })" title="Mã số thuế: @item.TaxCode">@item.TaxCode</a></strong>
                </h3>
            </div>
            <div class="col-md-4">
                <p>
                    Huyện/Thị: <a href="/tinh-thanh-pho/ha-noi"><strong>@item.RegisterPlace</strong></a>
                </p>
            </div>
            <div class="col-md-4">
                <p>Ngày thành lập: @item.RegisterDate.ToDateTimeString()</p>
            </div>
            <div class="col-md-12">
                <p>
                    Địa chỉ: <strong>@item.CompanyAddr</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Điện thoại: <strong>@item.CompanyTel</strong>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Email: <strong>@item.CompanyMail</strong>
                </p>
            </div>
        </div>
        @*<ul class="list-inline posted-info">
            <li>Ngành nghề hoạt động: <a href="/nganh-nghe/ban-buon-thuc-pham"><strong>Bán buôn thực phẩm</strong></a></li>
        </ul>*@
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    </div>
}