﻿@model List<SMCi.DataAccess.Entities.VanBanPhapQuy>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-3">
            <img src="/Content/img/portfolios/600x600/6.jpg" class="img-responsive" />
        </div>
        <div class="col-md-9 row">
            <div class="col-md-8">
                <h2 class="no-mrg-top">
                    @item.TieuDe
                </h2>
                <p>
                    @item.NoiDung
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Ngày ban hành: @item.CreatedDate.ToString("dd/MM/yyyy")
                </p>
                @*<p>
                        Ngày hiệu lực:
                    </p>*@
                <p>Tình trạng: <a href=""><strong>Còn hiệu lực</strong></a></p>
            </div>
            <div class="col-md-12">
                <hr style="margin-top: 10px !important;margin-bottom: 10px!important" />
                <div class="row">
                    <div class="col-md-2">
                        <a target="_blank" href="@Url.Action("DocumentViewer", "Home", new { fileName = item.DocUrl})" tar class="btn btn-outline btn-link"><i class="fa fa-eye"></i> Xem</a>
                    </div>
                    <div class="col-md-2">
                        <a href="@Url.Action("GetFileView", "Home", new { fileName = "~/Upload/Test.docx"})" class="btn btn-outline btn-link"><i class="fa fa-download"></i> Tải xuống</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr />
        </div>
    </div>
}