﻿@using SMCi.DataAccess.Entities
@model List<ThongTinTiepNhan>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.TieuDe</td>
        <td>@item.NoiDung</td>
        <td><a onclick="feedbackCtrl.viewAnswer('Mã tiếp nhận @item.Id','@item.TieuDe', '@item.NoiDung', '@item.TraLoi')" class="popup-inline" data-toggle="modal" data-target="#modal">Xem trả lời</a></td>
    </tr>
}