﻿@using SMCi.WebCore.Extensions
@model SMCi.DataAccess.Entities.Company

@{
    var logo = string.IsNullOrEmpty(Model.CompanyLogo) ? "/Content/img/portfolios/600x600/6.jpg" : Model.CompanyLogo;
}
<div class="container content mrg-top-30">
    <div class="row">
        <div class="col-lg-8 col-md-7">
            <div class="alert alert-warning fade in">
                <h1>@Model.CompanyName1</h1>
                <h2>@Model.CompanyName2</h2>
                <p>
                    @Model.CompanyName1 có địa chỉ tại @Model.CompanyAddr. Mã số thuế <strong>@Model.TaxCode</strong>
                    @*<p>Ngành nghề kinh doanh chính: <strong>Dịch vụ hỗ trợ giáo dục</strong></p>*@
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <img src="@logo" class="img-responsive" />
        </div>
    </div>

    <div class="row mrg-top-30">
        <div class="col-lg-9 col-md-8">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-responsive table-details">
                <tbody>
                    <tr>
                        <th>Mã số doanh nghiệp</th>
                        <td><h3><strong>@Model.CompanyCode</strong></h3></td>
                        <th>Ngày cấp</th>
                        <td>@Model.RegisterDate.ToDateTimeString()</td>
                        <th>Mã số thuế</th>
                        <td>@Model.TaxCode</td>
                    </tr>

                    <tr>
                        <th>Tên chính thức</th>
                        <td><h3>@Model.CompanyName1</h3></td>
                        <th>Tên khác</th>
                        <td colspan="3"><h3>@Model.CompanyName2</h3></td>
                    </tr>

                    <tr>
                        <th>Nơi đăng ký </th>
                        <td>@Model.RegisterPlace</td>
                        <th>Điện thoại</th>
                        <td colspan="3"> @Model.CompanyTel</td>
                    </tr>
                    <tr>
                        <th>Fax </th>
                        <td>@Model.CompanyFax</td>
                        <th>Email</th>
                        <td colspan="3"> @Model.CompanyMail</td>
                    </tr>

                    <tr>
                        <th>Địa chỉ trang web chính thức</th>
                        <td colspan="5"><h3>@Model.CompanyWebsite</h3></td>
                    </tr>
                    <tr>
                        <th>Địa chỉ trụ sở</th>
                        <td colspan="5"><h3>@Model.CompanyAddr</h3></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>