﻿@using SMCi.WebUI.Infrastructure.Extensions
<nav class="navbar navbar-static-top" role="navigation" style="margin-top: 20px;padding: 15px">
    <label class="smc-search-label" for="status">Tìm kiếm doanh nghiệp</label>
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="text" placeholder="Từ khóa tìm kiếm..." class="form-control" id="search-input"></div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <select name="status" id="ajax-district-content" class="form-control">
                    <option value="-1" selected="">Huyện/Thị</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group" id="ajax-town-content">
                <select name="status" id="select-town-option" class="form-control">
                    <option value="-1" selected="">Phường/Xã</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success ladda-button" onclick="companyCtrl.search();" id="search-button"><i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">Tìm kiếm</span></button>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-9">
        <div id="ajax-company-content"></div>
        <div id="loading-content">
            @Html.Spinner()
        </div>
    </div>

    <div class="col-md-3">
        <ul id="sidebar-nav" class="list-group sidebar-nav-v1">
            <!-- Typography -->
            <li class="list-group-item active">
                <a>Huyện/Thị</a>
                <ul class="collapse in" id="menu-district-content">
                    @Html.Spinner()
                </ul>
            </li>
        </ul>
    </div>
</div>

@section scripts{
    @ViewHelper.RenderPageScript("home/company")
}