﻿@using SMCi.WebUI.Infrastructure.Extensions
<nav class="navbar navbar-static-top" role="navigation" style="margin-top: 20px;padding: 15px">
    <label class="smc-search-label" for="status">Tìm kiếm văn bản</label>
    <div class="row">
        <div class="col-sm-10">
            <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input id="search-input" type="text" placeholder="Từ khóa tìm kiếm..." class="form-control"></div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success ladda-button" onclick="documentCtrl.search()" id="search-button"><i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">Tìm kiếm</span></button>
        </div>
    </div>
    <div class="ibox float-e-margins" style="padding-top: 10px; margin-bottom: 0">
        <div class="ibox-title" style="background-color: #1A7BB9">
            <h5 style="color: white">Lọc kết quả</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" style="display: none">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Loại văn bản</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Danh mục</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Người ký</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Cơ quan ban hành</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Ngày ban hành</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Ngày hiệu lực</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected="">Tình trạng</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-9">
        <div id="ajax-document-content"></div>
        <div id="loading-content">
            @Html.Spinner()
        </div>
    </div>
    <div class="col-md-3">
        <ul id="danhmuc-nav" class="list-group sidebar-nav-v1">
            <li class="list-group-item active">
                <a>Danh mục</a>
                <ul class="collapse in" id="ajax-category-content">
                    <li>
                        <span class="badge badge-u">12234</span>
                        <a href="/tinh-thanh-pho/an-giang">Công văn</a>
                    </li>
                    <li>
                        <span class="badge badge-u">2337</span>
                        <a href="/tinh-thanh-pho/bac-can">Hiến pháp</a>
                    </li>
                    <li>
                        <span class="badge badge-u">10541</span>
                        <a href="/tinh-thanh-pho/bac-giang">Sắc lệnh</a>
                    </li>
                    <li>
                        <span class="badge badge-u">5158</span>
                        <a href="/tinh-thanh-pho/bac-lieu">Luật</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


@section scripts{
    @ViewHelper.RenderPageScript("home/document")
}