﻿@using Core.Web.Kendo
@using SMCi.WebCore.Modules.Posts.Models
@using SMCi.WebUI.Infrastructure.Extensions

<nav class="navbar navbar-static-top" role="navigation" style="margin-top: 20px;padding: 15px">
    <label class="smc-search-label" for="status">Tìm kiếm thông tin tiếp nhận</label>
    <div class="row">
        <div class="col-sm-10">
            <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input id="search-input" type="text" placeholder="Từ khóa tìm kiếm..." class="form-control"></div>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-success ladda-button" onclick="feedbackCtrl.search()" id="search-button"><i class="fa fa-search"></i>&nbsp;&nbsp;<span class="bold">Tìm kiếm</span></button>
        </div>
    </div>
</nav>

<a href="#infoform" class="btn btn-white pull-right" type="button"><i class="fa fa-envelope"></i>&nbsp;&nbsp;<span class="bold">Gửi thông tin</span></a>

<div class="ibox-content" style="padding: 0; padding-top: 10px; border: 0; max-height: 400px; overflow-y: scroll;" id="feedback-content">
    <table class="table table-striped table-bordered table-responsive table-details">
        <tbody id="ajax-feedback-content"></tbody>
    </table>

    <div id="loading-content">
        @Html.Spinner()
    </div>
</div>

<div class="ibox float-e-margins mrg-top-20" style="border: 1px #F3F3F4 solid" id="infoform">
    <div class="ibox-title">
        <h5>THÔNG TIN TIẾP NHẬN</h5>
    </div>
    <div class="ibox-content pdd-btm-10">
        <form id="form" class="form-horizontal row pdd-horizon-20">
            <p>Nếu bạn muốn thông tin với chúng tôi về doanh nghiệp, các hoạt động của cơ quan xin vui lòng điền đầy đủ thông tin bên dưới</p>
            <div class="col-md-6">
                <div class="form-group" style="margin-right: 0">
                    <label>Họ tên</label>
                    <div class="input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span><input id="form-hoten" type="text" placeholder="Họ tên..." class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input id="form-email" type="email" placeholder="Email..." class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Tiêu đề</label>
                    <div class="input-group m-b">
                        <span class="input-group-addon"><i class="fa fa-font"></i></span><input id="form-tieude" type="text" placeholder="Tiêu đề..." class="form-control" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group"><label>Nội dung</label> <textarea id="form-noidung" placeholder="Nội dung..." class="form-control" rows="5" required></textarea></div>
            </div>
            <button class="btn btn-sm btn-success pull-right m-t-n-xs ladda-button" type="submit"><strong>Gửi thông tin</strong></button>
        </form>
    </div>
</div>

<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pop-title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal row pdd-horizon-20">
                    <div class="col-md-12">
                        <div class="form-group" style="margin-right: 0">
                            <label>Tiêu đề</label>
                            <div class="input-group m-b">
                                <p id="pop-tieude"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nội dung</label>
                            <div class="input-group m-b">
                                <p id="pop-noidung"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Trả lời</label>
                            <div class="input-group m-b">
                                <p id="pop-traloi"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @ViewHelper.RenderPageScript("home/feedback")
}