﻿@using Core.Web.Kendo
@using Kendo.Mvc.UI
@using SMCi.WebCore.Modules.VanBanPhapQuys.Models

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh sách Văn bản</h5>
                    <div class="ibox-tools">
                        <div class="buttons">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Create", "ManageVanBanPhapQuy")">
                                <i class="fa fa-plus"></i> Thêm mới
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    @(Html.Kendo().Grid<VanBanPhapQuyModel>()
                                        .DefaultSettings()
                                        .Columns(columns =>
                                        {
                                            columns.Bound(p => p.TieuDe).ClientTemplate("<a href='/Admin/ManageVanBanPhapQuy/Edit/#:Id#'>#:TieuDe#</a>");
                                            columns.Bound(p => p.NoiDung);
                                            columns.Bound(p => p.iStatus);
                                            columns.BoundBoolean(p => p.IsPublish);
                                            columns.Command(x =>
                                            {
                                                x.Destroy().Text("Xóa");
                                            }).Width(50);
                                        })
                                          .DataSource(dataSource => dataSource
                                              .Ajax()
                                              .DefaultSettings()
                                              .Model(model =>
                                              {
                                                  model.Id(p => p.Id);
                                              })
                                              .Read(read => read.Action("Grid_Read", "ManageVanBanPhapQuy"))
                                              .Destroy(destroy => destroy.Action("Grid_Destroy", "ManageVanBanPhapQuy"))
                                          ).Deferred()
                    )
                </div>
            </div>
        </div>
    </div>
</div>