﻿<div class="about-box">
    @*<div class="about-section">
        <img alt="" src="../upload/img/about.jpg">
    </div>*@
    <div class="about-section last-section">
        <h1>About us</h1>
        <p>.NET developer</p>
        <p>WPF developer</p>
        <p>Web developer</p>
        <p>XAMARIN FORMS developer</p>

        <h1>Meet The Team</h1>
        <div class="team-members">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-post">
                        <img alt="" src="../upload/img/NhatDuy.jpg">
                        <div class="team-hover">
                            <div class="team-data">
                                <h3>Duy Nguyen</h3>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <img alt="" src="../upload/img/PerThinh.jpg">
                        <div class="team-hover">
                            <div class="team-data">
                                <h3>Thinh Pham</h3>
                                <span>.NET Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
