﻿@model SMCi.WebCore.Modules.Accounts.Models.LoginModel
@{
    ViewBag.Title = "Confirm Email";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">@ViewBag.Title</h2>
                <p>
                    Please check your Confirm Email. Or @Html.ActionLink("Click here to Resend the Confirm Email", "ResendConfirmEmail", "Account", new { username = Model.Username, password = Model.Password }, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</div>