﻿@using Core.Timing
@using Core.Web.Extensions
@model SMCi.WebCore.Modules.Accounts.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <img class="navbar-brand-media-light" style="height: 100px" src="/content/home/img/css_logo_color.png" alt="">
    </div>
    <h3>Welcome to SMCi</h3>

    <p>
        Simple and effective way of generating leads.
    </p>
    <p>Log in to continue.</p>

    @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ReturnUrl")

        @Html.ErrorSummary()

        <div class="form-group">
            @Html.EditorFor(x => x.Username)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Password)
        </div>

        <button class="btn btn-primary block full-width m-b ladda-button btn-sm" data-style="zoom-out">
            Login
        </button>

        <a href="@Url.Action("ForgotPassword")"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("RequestActivationCode")">
            Request Activation Code
        </a>
    }
    
    @Html.Partial("_Footer")
</div>

@section Scripts {
    <script>
        Validator.default();
    </script>
}
