﻿@using SMCi.WebUI.Infrastructure.Extensions
@using Core.Web.Extensions
@model SMCi.WebCore.Modules.Accounts.Models.AccountModel
@{
    ViewBag.Title = "Register";
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Register to Resource Center</h3>
    <p>Create account to see it in action.</p>
    @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
    {
        @Html.AntiForgeryToken()

        @Html.ErrorSummary()

        @Html.HiddenFor(x => x.ActivationCode)
        <div class="form-group">
            @Html.EditorFor(x => x.UserName)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Email)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Password)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.ConfirmPassword)
        </div>

        <div class="form-group term-group">
            <div>
                @Html.EditorFor(x => x.AgreeTerms)
            </div>
            <div class="read-more">
                <a class="small" href="javascript:registerCtrl.showTerm()">Read more</a>
            </div>
        </div>

        <button type="submit" class="ladda-button btn btn-primary block full-width m-b btn-sm" data-style="zoom-out">Register</button>
        <p class="text-muted text-center">
            <small>Already have an account?</small>
        </p>

        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login", "Account")">Login</a>
    }

    @Html.Partial("_Footer")
</div>

@Html.ModalPartial()

@section scripts {
    @ViewHelper.RenderPageScript("register");
}