﻿@using Core.Web.Extensions
@model SMCi.WebCore.Modules.Accounts.Models.ActivationCodeModel
@{
    ViewBag.Title = "RequestActivationCode";
}

<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Forgot password</h2>

                <p>
                    Enter your email address to receive an Activation Code.
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ErrorSummary()

                            <div class="form-group">
                                @Html.EditorForModel()
                            </div>

                            <button type="submit" class="ladda-button btn btn-primary btn-sm">
                                <i class="fa fa-envelope"></i> Request
                            </button>

                            <a class="btn btn-default btn-sm" href="@Url.Action("Login", "Account")">
                                <i class="fa fa-arrow-left"></i> Back
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

</div>

@section scripts {
    <script>
        Validator.default();
    </script>
}
