﻿@using Core.Web.Extensions
@model SMCi.WebCore.Modules.Accounts.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset password";
}
<div class="passwordBox animated fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content">
                <h2 class="font-bold">Reset password</h2>
                <p>
                    Enter your email address and your new password.
                </p>
                <div class="row">

                    <div class="col-lg-12">
                        @using (Html.FormPost(htmlAttributes: new { @class = "m-t custom" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ErrorSummary()

                            @Html.EditorForModel("Form")

                            <button type="submit" class="btn btn-primary block full-width m-b ladda-button btn-sm" data-style="zoom-in">
                                Reset
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")

</div>


@section scripts {
    <script>
        Validator.default();
    </script>
}
